In [6]:
import pandas as pd
df_titanic = pd.read_csv("C:/Users/EdaNurIsik/Downloads/train.csv")

Kazada ölenlerin yaş ortalamasını bulunuz

In [9]:
mean_age_dead = df_titanic[df_titanic['Survived'] == 0]['Age'].mean()
print(mean_age_dead)

30.62617924528302

Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [11]:
dead = df_titanic[df_titanic['Survived'] == 0]
mean_fare_dead = dead['Fare'].mean()
median_fare_dead = dead['Fare'].median()
print(mean_fare_dead)
print(median_fare_dead)

22.117886885245902
10.5

Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [12]:
mean_age_dead_males = df_titanic[(df_titanic['Survived'] == 0) & (df_titanic['Sex'] == 'male')]['Age'].mean()

Kazada ölen Kadınların yaş ortalamasını bulunuz

In [14]:
mean_age_dead_males = df_titanic[(df_titanic['Survived'] == 0) & (df_titanic['Sex'] == 'female')]['Age'].mean()

Kazadan kurtulanların yaş ortalamasını bulunuz

In [ ]:
mean_age_alive = df_titanic[df_titanic['Survived'] == 1]['Age'].mean()

Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [13]:
mean_fare_alive = df_titanic[df_titanic['Survived'] == 1]['Fare'].mean()

Kazadan kurtulan toplam kişi sayısını bulunuz

In [ ]:
#count_alive = len(df_titanic[df_titanic['Survived'] == 1])
survivor_count = df_titanic[df_titanic['Survived'] == 1].shape[0]

10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [ ]:
median_fare_under_10 = df_titanic[df_titanic['Age'] < 10]['Fare'].median()

1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız

In [ ]:
fare_stats_by_class = df_titanic.groupby('Pclass')['Fare'].agg(['mean', 'median'])

Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız.

In [16]:

total_males = df_titanic[df_titanic['Sex'] == 'male'].shape[0]
total_females = df_titanic[df_titanic['Sex'] == 'female'].shape[0]

dead_males = df_dead[df_dead['Sex'] == 'male'].shape[0]
dead_females = df_dead[df_dead['Sex'] == 'female'].shape[0]

death_ratio_males = dead_males / total_males
death_ratio_females = dead_females / total_females